extends ../layout

block content
	h1.
		Member ID #{member._id}
	form(action='/members/#{member._id}/edit',method='post',name='updateMember',enctype='application/x-www-form-urlencoded')
		p Nickname:
			input#inputNickname(type='text', value='#{member.name}', name='name')
		p Badge:
			input#inputBadge(type='number', value='#{member.badge}', name='badge')
		p DOB:
			input#inputDob(type='date', value='#{blobdob}', name='dob')
		p Are you Loved?:
			input#inputIsLoved(type='checkbox', name='isloved', checked=('#{blob.isloved}'==='true' ? "checked" : undefined))
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update