extends ../layout

block content
    h1.
        Infophoto #{board._id}
    p Category: #{board.nickname}
    p Title: #{board.title}
    p Body: #{board.body}
    p Hits: #{board.meta.hit}
    p Likes: #{board.meta.hate}
    p Hates: #{board.meta.like}